body {
    background-color: rgb(243, 240, 234);
}

.maine {
    float: left;
}

.Column1 {
    width: 25%;
    float: left;
    padding: 2%;
    height: 500px;
    box-shadow: 0 0 0 1px rgb(13, 13, 13);
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 10%;
    background-color: rgb(128, 11, 201);
}

.Column2 {
    width: 42%;
    float: left;
    padding: 2%;
    margin-top: 8%;
    height: 500px;
    box-shadow: 0 0 0 1px rgb(22, 21, 21);
    border-radius: 10px;
    background-color: white;
}

.Column3 {
    width: 2%;
    float: right;
    height: 500px;
    padding: 2%;
    margin-top: 8%;
    margin-right: 8%;
    box-shadow: 0 0 0 1px rgb(22, 21, 21);
    border-radius: 10px;
    background-color: rgb(166, 88, 214);
}

h2 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}

p {
    font-size: 1vw;
    text-align: center;
}

img {
    width: 75%;
    border: solid;
    border-color: white;
    border-radius: 20px;
    margin-left: 12%;
}

.Social {
    margin-left: 45%;
    word-spacing: 25px;
}

h6 {
    color: white;
    text-align: center;
}

@media screen and (max-width: 286px) {
    h3 {
        margin-left: 15px;
        font-size: 4vw;
    }

    h2 {
        font-size: 7.5vw;
    }

    p {
        font-size: 3.35vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        margin-top: 0px;
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        margin-top: 0px;
        height: 600px;
        width: 63%;
        overflow: scroll;
    }

    .Column3 {
        height: 20px;
        width: 78%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 287px) and (max-width: 376px) {
    h3 {
        margin-left: 16px;
    }

    p {
        font-size: 2.8vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        margin-top: 0px;
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        margin-top: 0px;
        height: 600px;
        width: 63%;
        overflow: scroll;
    }

    .Column3 {
        margin-top: 10px;
        height: 20px;
        width: 82%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-bottom: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 376px) and (max-width: 415px) {
    h3 {
        margin-left: 27px;
    }

    p {
        font-size: 2.7vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        height: 600px;
        width: 63%;
        overflow: scroll;
    }

    .Column3 {
        height: 20px;
        width: 83%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 416px) and (max-width: 600px) {
    p {
        font-size: 2.3vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        margin-top: 0px;
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        margin-top: 0px;
        height: 600px;
        width: 63%;
        overflow: scroll;
    }

    .Column3 {
        height: 20px;
        width: 87%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

}

@media screen and (min-width: 601px) and (max-width: 825px) {
    p {
        font-size: 1.41vw;
    }

    .Column3 {
        width: 4%;
        margin-right: 45px;
    }

}

@media screen and (min-width: 826px) and (max-width: 915px) {
    p {
        font-size: 1.31vw;
    }

    .Column3 {
        width: 4%;
        margin-right: 55px;
    }

}

@media screen and (min-width: 916px) and (max-width: 1025px) {
    p {
        font-size: 1.27vw;
        margin-top: 0px;
    }

    .Column1 {
        margin-left: 60px;
        margin-top: 30px;
    }

    .Column2 {
        margin-top: 30px;
    }

    .Column3 {
        width: 4%;
        margin-top: 30px;
        margin-right: 95px;
    }

}

@media screen and (min-width: 1026px) and (max-width: 1285px) {
    p {
        font-size: 1.08vw;
        margin-top: 0px;
    }

    .Column1 {
        margin-left: 10px;
        margin-top: 30px;
    }

    .Column2 {
        margin-top: 30px;
    }

    .Column3 {
        height: 40px;
        width: 52%;
        margin-right: 33%;
        display: inline-flex;
        padding: 25px;
        padding-bottom: 0px;
        margin-top: 20px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 115px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

}