body {
    background-color: rgb(243, 240, 234);
}

.maine {
    float: left;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    }

    input[type=submit] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: black;
    }

.Column1 {
    width: 25%;
    float: left;
    padding: 2%;
    height: 500px;
    box-shadow: 0 0 0 1px rgb(13, 13, 13);
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 10%;
    background-color: rgb(128, 11, 201);
}

.Column2 {
    width: 42%;
    float: left;
    padding: 2%;
    margin-top: 8%;
    height: 500px;
    box-shadow: 0 0 0 1px rgb(22, 21, 21);
    border-radius: 10px;
    background-color: white;
}

.Column3 {
    width: 2%;
    float: right;
    height: 500px;
    padding: 2%;
    margin-top: 8%;
    margin-right: 8%;
    box-shadow: 0 0 0 1px rgb(22, 21, 21);
    border-radius: 10px;
    background-color: rgb(166, 88, 214);
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    border: #000000;
    border-style: solid;
    padding: 14px 20px;
    margin: 8px 0;
    width: fit-content;
    margin-left: 37%;
    }

h4 {
    text-align: center;
    color: white;
}

p {
    font-size: 1.5vw;
    text-align: center;
}

img {
    width: 75%;
    border: solid;
    border-color: white;
    border-radius: 20px;
    margin-left: 12%;
}

h6 {
    color: white;
    text-align: center;
}

@media screen and (max-width: 286px) {
    h3 {
        margin-left: 15px;
        font-size: 4vw;
    }

    h2 {
        font-size: 7.5vw;
    }

    p {
        font-size: 4.7vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        margin-top: 0px;
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        margin-top: 0px;
        height: 600px;
        width: 63%;
    }

    .Column3 {
        height: 20px;
        width: 78%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 287px) and (max-width: 376px) {
    h3 {
        margin-left: 16px;
    }

    p {
        font-size: 4.7vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        margin-top: 0px;
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        margin-top: 0px;
        height: 600px;
        width: 63%;
    }

    .Column3 {
        height: 20px;
        width: 82%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 376px) and (max-width: 415px) {
    h3 {
        margin-left: 22px;
    }

    p {
        font-size: 2.7vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        height: 600px;
        width: 63%;
    }

    .Column3 {
        height: 20px;
        width: 83%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 416px) and (max-width: 600px) {

    h3 {
        margin-left: 70px;
    }

    p {
        font-size: 2.7vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        margin-top: 0px;
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        margin-top: 0px;
        height: 600px;
        width: 63%;
    }

    .Column3 {
        height: 20px;
        width: 87%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Column2 i {
        margin-left: -20px;
    }

    .Column3 i {
        margin-left: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

}

@media screen and (min-width: 601px) and (max-width: 825px) {

    .Column3 {
        width: 4%;
        margin-right: 45px;
    }

    h3 {
        margin-left: 72px;
    }

}

@media screen and (min-width: 826px) and (max-width: 915px) {

    .Column3 {
        width: 4%;
        margin-right: 55px;
    }

    h3 {
        margin-left: 90px;
    }

}

@media screen and (min-width: 916px) and (max-width: 1025px) {
    h3 {
        margin-left: 120px;
    }

    .Column1 {
        margin-left: 60px;
        margin-top: 30px;
    }

    .Column2 {
        margin-top: 30px;
    }

    .Column3 {
        width: 4%;
        margin-top: 30px;
        margin-right: 95px;
    }

}