body {
    background-color: rgb(243, 240, 234);
}

.maine {
    float: left;
}

.Column1 {
    width: 25%;
    float: left;
    padding: 2%;
    height: 500px;
    box-shadow: 0 0 0 1px rgb(13, 13, 13);
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 10%;
    background-color: rgb(128, 11, 201);
}

.Column2 {
    width: 42%;
    float: left;
    padding: 2%;
    margin-top: 8%;
    height: 500px;
    box-shadow: 0 0 0 1px rgb(22, 21, 21);
    border-radius: 10px;
    background-color: white;
}

.Column3 {
    width: 2%;
    float: right;
    height: 500px;
    padding: 2%;
    margin-top: 8%;
    margin-right: 8%;
    box-shadow: 0 0 0 1px rgb(22, 21, 21);
    border-radius: 10px;
    background-color: rgb(166, 88, 214);
}

h2 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}

p {
    font-size: 1.5vw;
    text-align: center;
}

img {
    width: 75%;
    border: solid;
    border-color: white;
    border-radius: 20px;
    margin-left: 12%;
}

h6 {
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 4vw;
    }

    img {
        margin-top: 30%;
    }
    
    .Column1 {
        height: 600px;
        margin-left: 2%;
    }

    .Column2 {
        height: 600px;
        width: 63%;
    }

    .Column3 {
        height: 20px;
        width: 82%;
        margin-right: 2%;
        display: inline-flex;
        padding: 25px;
    }

    i {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

}
